<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <h2>Mains</h2>
  <ul>
    <% restaurant.menu.forEach(function(item) { %>
      <% if (item.category === 'mains') { %>
        <li>
          <h3><%= item.name %> $<%= item.price %></h3>
          <p>Rating: <%= item.rating %> stars</p>
          <p>Details: <%= item.details %></p>
        </li>
      <% } %>
    <% }); %>
  </ul>
  
  <h2>Desserts</h2>
  <ul>
    <% restaurant.menu.forEach(function(item) { %>
      <% if (item.category === 'desserts') { %>
        <li>
          <h3><%= item.name %> $<%= item.price %></h3>
          <p>Rating: <%= item.rating %> stars</p>
          <p>Details: <%= item.details %></p>
        </li>
      <% } %>
    <% }); %>
    </ul>
  
  <h2>Sides</h2>
  <ul>
    <% restaurant.menu.forEach(function(item) { %>
      <% if (item.category === 'sides') { %>
        <li>
          <h3><%= item.name %> $<%= item.price %></h3>
          <p>Rating: <%= item.rating %> stars</p>
          <p>Details: <%= item.details %></p>
        </li>
      <% } %>
    <% }); %>
  </ul>
</body>
</html>
